<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script type="text/javascript" src="buttonJS.js"></script>

    <div id="Home" class="tabcontent">
      <h1>Riley White's Github</h1>
    </div>

    <div id="Research" class="tabcontent">
      <h1>My Research</h1>
    </div>

    <div id="Other_Projects" class="tabcontent">
      <h1>Other Projects</h1>
    </div>

    <button class="tablink" onclick="openTab('Home', this, 'red')" id="defaultOpen">Home</button>
    <button class="tablink" onclick="openTab('Research', this, 'green')">Research</button>
    <button class="tablink" onclick="openTab('Other_Projects', this, 'blue')">Other_Projects</button>



    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
